<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="nwindConnectionString" connectionString="xpoprovider=MSAccess;provider=Microsoft.Jet.OLEDB.4.0;data source=C:\Users\stepanov.vasiliy\Documents\DX\From\E2706\CS\nwind.mdb" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
